<!DOCTYPE html>
<html>
<head>
  <title>ScaffoldExample</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <%= link_to "Homepage", root_path, class: "navbar-brand" %>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
